aws_region               = "sa-east-1"
project_name             = "sisaws"
environment              = "dev"
deploy_backend           = false
backend_image_tag        = "latest"
backend_desired_count    = 1
backend_cpu              = 512
backend_memory           = 1024
db_instance_class        = "db.t4g.micro"
use_nat_gateway          = false
enable_cloudfront        = false
db_backup_retention_days = 1
